* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%;
}
body {
  font: 400 18px/1.4 ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  background: #1B1E22;
  color: #fff;
}
a {
  text-decoration: none;
  border-bottom: 2px;
  word-wrap: break-word;
  color: #fff;
}
a:hover {
  text-decoration: none;
}
img {
  border: 0;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.wrap {
  max-width: 100%;
  margin: 0 auto;
}
.wrap .title{
  font-size: 60px;
  text-align: center;
  margin-bottom: 80px;
}
.wrap .title em{
  font-style: normal;
  color: #3CFF85;
}

.header{
  padding: 30px 40px;
  position: relative;
}
.header .brand{
  margin-bottom: 120px;
}
.header h2{
  text-align: center;
  font-size: 64px;
  margin-bottom: 60px;
}
.header h2 em{
  font-style: normal;
  color: #3CFF85;
}
.header p{
  text-align: center;
  font-size: 22px;
  color: #7F7F7F;
  padding: 0;
  margin-bottom: 100px;
}
.header .guide{
  text-align: center;
  margin-bottom: 180px;
}
.header .guide .btn-launch{
  width: 180px;
  height: 56px;
  line-height: 54px;
  text-align: center;
  color: #1B1E22;
  font-weight: 600;
  background: #3CFF85 url("../img/arrow-right.svg") no-repeat;
  background-position: 136px center;
  background-size: 16px;
  border-radius: 8px;
  display: inline-block;
  padding-right: 20px;
  font-size: 16px;
  margin-right: 30px;
  border: 1px solid #3CFF85;
/*  pointer-events: none;*/
  cursor: wait;
}
.header .guide .btn-contact{
  width: 140px;
  height: 56px;
  line-height: 54px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  background: none;
  border-radius: 8px;
  display: inline-block;
  font-size: 16px;
  border: 1px solid #7F7F7F;
}
.header .guide .btn-contact:hover{
  border-color: #bbb;
}
.header .guide p{
  margin: 40px 0;
  font-size: 16px;
  font-weight: 600;
}

.language-menus{
  position: absolute;
  top: 36px;
  right: 40px;
}
.dropbtn {
  background: #23262A url("../img/arrow-bottom.svg") 124px center no-repeat;
  color: #fff;
  font-size: 16px;
  width: 156px;
  height: 48px;
  line-height: 48px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  position: relative;
}
.icon-language{
  width: 20px;
  height: 20px;
  position: absolute;
  background: url("../img/icon-language.svg") no-repeat;
  background-size: 20px 20px;
  top: 14px;
  left: 18px;
}
.dropbtn:hover,
.dropbtn:focus {
  background: #2A2E33 url("../img/arrow-bottom.svg") 124px center no-repeat;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
  background: #23262A;
  border-radius: 8px;
  min-width: 200px;
  font-size: 16px;
  overflow: auto;
  z-index: 120;
}
.dropdown-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  color: #fff;
}
.dropdown-content a:hover{
  background: #2A2E33;
}
.dropdown-content a.active{
  opacity: .4;
  cursor: auto;
  background: url("../img/icon-success.svg") 160px center no-repeat;
}
.show {display: block;}

.slogan{
  text-align: center;
}
.slogan h3{
  font-size: 36px;
  line-height: 1.8;
  text-align: center;
  padding: 0 20px;
  max-width: 940px;
  margin: 40px auto;
  color: #909090;
  display: block;
}
.slogan h3 strong{
  color: #fff;
  padding: 0 4px;
}
.slogan img{
  margin: 40px auto;
  margin-bottom: 180px;
}
.features{
  margin-bottom: 100px;
}
.features .item{
  width: 33.3333%;
  float: left;
  margin-bottom: 100px;
  padding: 0 100px;
}
.features .item h5{
  font-size: 20px;
  margin: 10px 0 20px;
  white-space: nowrap;
  word-break: break-all;
}
.features .item p{
  font-size: 16px;
  color: #7F7F7F;
}

.whyus{
  margin-bottom: 200px;
}
.whyus .item{
  width: 40%;
  float: left;
  border-radius: 8px;
  background: #23262A;
  display: inline-block;
  margin: 0 5%;
  padding: 30px 40px;
  text-align: center;
}
.whyus .item p{
  line-height: 1.2;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
}
.whyus .item p strong{
  color: #3CFF85;
  font-size: 24px;
  padding: 0 4px;
}
.whyus .item span{
  font-size: 14px;
  color: #7F7F7F;
}

.integration{
  margin-bottom: 200px;
  padding: 0 60px;
}
.integration .item{
  width: 33.3333%;
  float: left;
  padding: 0 60px;
}
.integration .item h5{
  font-size: 20px;
  margin: 14px 0;
}
.integration .item p{
  color: #7F7F7F;
  font-size: 14px;
}

.partners .item{
  text-align: center;
  margin-bottom: 100px;
  padding: 0 100px;
}
.partners .item a{
  display: inline-block;
  margin: 20px 30px;
}

.footer{
  border-top: 1px solid #2C2F33;
  padding: 40px;
}
.footer .copyright{
  float: left;
  font-size: 14px;
  color: #7F7F7F;
  line-height: 1.6;
}
.footer .copyright a{
  opacity: .8;
}

.footer .social{
  float: right;
  margin-top: 24px;
}
.footer .social a{
  opacity: .4;
  padding: 10px;
}
.footer .social a:hover{
  opacity: 1;
}

@media (max-width: 1100px) {
  .header,
  .footer{
    padding: 30px;
  }
  .header .brand,
  .header .guide{
    margin-bottom: 100px;
  }
  .header h2{
    margin-bottom: 40px;
  }
  .header p,
  .features{
    margin-bottom: 80px;
  }
  .slogan h3{
    margin-bottom: 20px;
  }
  .slogan img{
    width: 400px!important;
    margin-bottom: 120px;
  }
  .features .item{
    padding: 0 40px;
  }
/*  .features .item h5{
    white-space: nowrap;
    word-break: break-all;
  }*/
  .language-menus{
    top: 30px;
    right: 30px;
  }
  .integration{
    padding: 0 20px;
  }
  .integration .item{
    padding: 0 40px;
  }
  .partners .item{
    padding: 0;
  }
}
@media (max-width: 840px) {
  .features .item{
    width: 50%;
    margin-bottom: 60px;
  }
  .features .item p{
    min-height: 70px;
  }
  .integration{
    margin: 0;
  }
  .integration .item{
    width: 50%;
    margin-bottom: 60px;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .header .brand,
  .header .guide,
  .whyus,
  .integration{
    margin-bottom: 80px;
  }
  .header h2{
    font-size: 60px;
  }
  .header p{
    font-size: 18px;
  }
  .header p,
  .features,
  .features .item,
  .wrap .title{
    margin-bottom: 60px;
  }
  .wrap .title{
    font-size: 50px;
  }
  .slogan h3{
    font-size: 30px;
    line-height: 1.4;
    padding: 0 80px;
  }
  .slogan img{
    width: 320px!important;
    margin-bottom: 100px;
  }
  .features .item h5{
    margin: 10px 0;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
  }
  .whyus .item{
    width: 90%;
    margin-bottom: 30px;
    padding: 40px;
  }
  .partners .item a{
    margin: 20px;
  }
  .partners .item a img{
    height: 30px!important;
  }
}

@media (max-width: 640px) {
  .header,
  .footer{
    padding: 30px 20px;
  }
  .header .guide,
  .whyus, .integration,
  .partners .item{
    margin-bottom: 40px;
  }
  .header .brand{
    margin-bottom: 60px;
  }
  .header .brand img{
    width: 140px!important;
  }
  .header h2{
    font-size: 48px;
    line-height: 1.2;
  }
  .slogan h3{
    font-size: 24px;
    padding: 0 30px;
  }
  .slogan img{
    width: 280px!important;
  }
  .wrap .title{
    font-size: 40px;
  }
  .features .item{
    min-height: 220px;
    display: block;
  }
  .whyus .item{
    padding: 30px;
  }
  .integration .item{
    width: 100%;
    text-align: center;
  }
  .integration .item h5{
    margin: 8px 0;
  }
  .partners .item a{
    margin: 10px 14px;
  }
  .language-menus{
    right: 20px;
  }
  .dropbtn{
    width: 136px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    background: #23262A url(../img/arrow-bottom.svg) 108px center no-repeat;
  }
  .dropbtn:hover,
  .dropbtn:focus {
    background: #2A2E33 url("../img/arrow-bottom.svg") 108px center no-repeat;
  }
  .icon-language{
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    top: 15px;
  }
  .footer .copyright,
  .footer .social{
    clear: both;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .header .guide,
  .whyus, .integration,
  .partners .item,
  .header h2{
    margin-bottom: 20px;
  }
  .header h2{
    font-size: 40px;
  }
  .slogan h3{
    padding: 0 30px;
  }
  .header .guide{
    padding: 0 40px;
    margin-bottom: 40px;
  }
  .header .guide .btn-launch{
    width: 100%;
    padding-right: 0;
    margin-right: 0;
    background: #3CFF85;
    margin-bottom: 20px;
  }
  .header .guide .btn-contact{
    width: 100%;
  }
  .slogan h3{
    font-size: 22px;
  }
  .slogan img{
    width: 80%!important;
  }
  .slogan img,
  .features,
  .whyus,
  .integration{
    margin-bottom: 80px;
  }
  .wrap .title{
    font-size: 34px;
  }
  .features .item{
    width: 100%;
    text-align: center;
    min-height: 0;
  }
  .features .item h5{
    margin: 4px 0 10px;
  }
  .integration .item h5{
    margin: 4px 0 8px;
  }
  .wrap.partners .title{
    margin-bottom: 40px;
  }
  .partners .item{
    padding: 0 20px;
  }
  .partners .item a{
    width: 50%;
    text-align: center;
    margin: 0 0 30px;
    float: left;
  }
  .footer .copyright,
  .footer .social{
    width: 100%;
    text-align: center;
  }
  .footer .social a img{
    width: 20px!important;
    height: 20px!important;
  }
  .footer .copyright p{
    margin-bottom: 10px;
  }
  .language-menus{
    width: 136px;
    margin-bottom: 40px;
  }
  .whyus .item{
    padding: 20px;
  }
  .features .item p{
    min-height: 0;
  }
}

@media (max-width: 320px) {
  .partners .item a{
    width: 100%;
    margin-bottom: 18px;
  }
  .header .brand{
    text-align: center;
    margin-bottom: 10px;
  }
  .header h2{
    margin: 40px 0 20px;
  }
  .language-menus{
    position: relative;
    top: inherit;
    right: inherit;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .dropdown-content{
    right: auto;
    left: -30px;
  }
  .header h2{
    font-size: 36px;
  }
  .header .guide p{
    margin: 30px 0;
  }
  .whyus .item{
    padding: 20px 14px;
  }
  .whyus .item p{
    margin-bottom: 20px;
  }
  .partners .item a{
    margin-bottom: 22px;
  }
  .partners .item a img{
    height: 34px !important;
  }
  .footer .social a{
    padding: 8px;
  }
}
